@import url('https://fonts.googleapis.com/css2?family=Jost&family=Space+Grotesk:wght@300&display=swap');

h1 {
    font-family: jost, sans-serif;
    letter-spacing: 3px;
    margin: 0;
    line-height: 50px;
}

p {
    font-family: space-grotesk, sans-serif;
}

#menu {
    position: absolute;
    float: right;
    top: 10px;
    right: 10px;
    line-height: 50px;
    font-size: 120%;
}

#menu a {
    margin-right: 25px;
    text-decoration: none;
    text-transform: uppercase;
    font-family: jost, sans-serif;
}